.addTodo{
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
input{
  padding: 0 10px;
  width: 50%;
}
button{
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(94, 235, 29);
  color: black;
  font-weight: 700;
  font-size: 22px;
  border: none;
  outline: none;
  border-radius: 5px;
}

@media(max-width: 600px){
  input{
    width: 45%;
  }
}
