.main{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}
form{
  border: 1px solid gray;
  height: fit-content;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 22px;
}
form div{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
input{
  padding: 10px;
  border: 1px solid gray;
  outline: none;
  width: 400px;
}